*{
    margin: 0;
    padding: 0;
}
/* .red{
    background: red;
    color: black;

}

.green{
    background: green;
    color: aqua;

} */

.container{
    width: 344px;
    height: 1500px;
    /* background-color:red; */
    border: 2px solid red;
    /* background-image: url('bmw.jpg');
    background-repeat: no-repeat; */
     background-size: 100px 45px;
     /* background-position: center;
     background-attachment:scroll; */
     color: white;

     background:red url('bmw.jpg') no-repeat local;
    }
    


    
    
